
body {
    background-color: lightblue;
    font-family: Arial;
}


.box {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

input {
    padding: 8px;
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
}
